extends layout
block content
    #headercontainer.container
        #titleheader.row.bluebox
            center
                label.pagetitle=pagetitle
    br
    
    #songcontainer.container
        - var index = 0;
        each file in audioFiles
            - var audioID='audio_'+ index++
            - var ar = file.split("/"); var filename = ar[ar.length-1].replace('.mp3','');
            .songrow.row.whitebox
                .col-sm-12
                    center
                        label.songtitle #{filename}
                        br
                        br
                        button(class="btn btn-default btn-block" type="button" onclick="remotePlay('" + file + "');") Play Remote
                        button(class="btn btn-default btn-block" onclick="document.getElementById('#{audioID}').play()")
                            label Play Local
                            br 
                            audio(controls,preload="none", id='#{audioID}')
                                source(src=file type="audio/mpeg") 
                                em Your browser does not suppor the audio tag
            br